USE [Hamster]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [int] NOT NULL,
	[KayitTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Legal]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Legal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sol] [nvarchar](50) NULL,
	[Sag] [nvarchar](50) NULL,
	[SaatlikKazanc] [int] NOT NULL,
	[YukseltmeMaliyeti] [int] NOT NULL,
	[Sonuc] [decimal](18, 2) NOT NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_Legal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markets]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sol] [nvarchar](50) NULL,
	[Sag] [nvarchar](50) NULL,
	[SaatlikKazanc] [int] NOT NULL,
	[YukseltmeMaliyeti] [int] NOT NULL,
	[Sonuc] [decimal](18, 2) NOT NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_Markets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PR&Team]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR&Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sol] [nvarchar](50) NULL,
	[Sag] [nvarchar](50) NULL,
	[SaatlikKazanc] [int] NOT NULL,
	[YukseltmeMaliyeti] [int] NOT NULL,
	[Sonuc] [decimal](18, 2) NOT NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_PR&Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specials]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SiraNo] [int] NOT NULL,
	[Sol] [nvarchar](50) NULL,
	[Orta] [nvarchar](50) NULL,
	[Sag] [nvarchar](50) NULL,
	[SaatlikKazanc] [int] NOT NULL,
	[YukseltmeMaliyeti] [int] NOT NULL,
	[Sonuc] [decimal](18, 2) NOT NULL,
	[GeriSayim] [datetime] NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_Specials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Web3]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sol] [nvarchar](50) NULL,
	[Sag] [nvarchar](50) NULL,
	[SaatlikKazanc] [int] NOT NULL,
	[YukseltmeMaliyeti] [int] NOT NULL,
	[Sonuc] [decimal](18, 2) NOT NULL,
	[KullaniciId] [int] NOT NULL,
 CONSTRAINT [PK_Web3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetki]    Script Date: 16.11.2024 14:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Yetki] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([Id], [Ad], [Soyad], [KullaniciAdi], [Sifre], [Yetki], [KayitTarihi]) VALUES (1, N'Ali', N'Çiftçi', N'alicftci', N'357100', 1, CAST(N'2024-08-08T02:06:32.640' AS DateTime))
INSERT [dbo].[Kullanici] ([Id], [Ad], [Soyad], [KullaniciAdi], [Sifre], [Yetki], [KayitTarihi]) VALUES (9, N'Gözde', N'Çiftçi', N'gozde', N'123456', 2, CAST(N'2024-08-07T15:25:45.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Legal] ON 

INSERT [dbo].[Legal] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (1, N'KYC', NULL, 54, 2099999999, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Legal] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (2, N'Legal opinion', NULL, 190, 4001113, CAST(4.75 AS Decimal(18, 2)), 1)
INSERT [dbo].[Legal] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (3, N'Anti money loundering', NULL, 884, 12003340, CAST(7.36 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Legal] OFF
GO
SET IDENTITY_INSERT [dbo].[Markets] ON 

INSERT [dbo].[Markets] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (1, N'Fan tokens', NULL, 3000, 40011132, CAST(7.50 AS Decimal(18, 2)), 1)
INSERT [dbo].[Markets] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (2, N'BTC pairs', NULL, 135, 2527653, CAST(5.34 AS Decimal(18, 2)), 1)
INSERT [dbo].[Markets] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (3, N'Top 10 cmc pairs', NULL, 253, 4001113, CAST(6.32 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Markets] OFF
GO
SET IDENTITY_INSERT [dbo].[PR&Team] ON 

INSERT [dbo].[PR&Team] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (1, N'CEO', NULL, 316, 4001113, CAST(7.90 AS Decimal(18, 2)), 1)
INSERT [dbo].[PR&Team] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (2, N'IT team', NULL, 758, 8002226, CAST(9.47 AS Decimal(18, 2)), 1)
INSERT [dbo].[PR&Team] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (3, N'HamsterBook', NULL, 221, 2000557, CAST(11.05 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[PR&Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Specials] ON 

INSERT [dbo].[Specials] ([Id], [SiraNo], [Sol], [Orta], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [GeriSayim], [KullaniciId]) VALUES (1, 71, N'HamsterStore launch', NULL, NULL, 14760, 157941793, CAST(9.35 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Specials] ([Id], [SiraNo], [Sol], [Orta], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [GeriSayim], [KullaniciId]) VALUES (2, 74, N'X Network 10 Million', NULL, NULL, 1260, 28007793, CAST(4.50 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Specials] ([Id], [SiraNo], [Sol], [Orta], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [GeriSayim], [KullaniciId]) VALUES (3, 174, NULL, NULL, N'Hamster Green energy', 6760, 171880436, CAST(3.93 AS Decimal(18, 2)), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Specials] OFF
GO
SET IDENTITY_INSERT [dbo].[Web3] ON 

INSERT [dbo].[Web3] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (1, N'DEX', NULL, 8860, 124690889, CAST(7.11 AS Decimal(18, 2)), 1)
INSERT [dbo].[Web3] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (2, NULL, N'Oracle', 2360, 29094541, CAST(8.11 AS Decimal(18, 2)), 1)
INSERT [dbo].[Web3] ([Id], [Sol], [Sag], [SaatlikKazanc], [YukseltmeMaliyeti], [Sonuc], [KullaniciId]) VALUES (3, N'Vesting Smartcontracts', NULL, 3310, 29739881, CAST(11.13 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Web3] OFF
GO
SET IDENTITY_INSERT [dbo].[Yetki] ON 

INSERT [dbo].[Yetki] ([Id], [YetkiAdi]) VALUES (1, N'Admin')
INSERT [dbo].[Yetki] ([Id], [YetkiAdi]) VALUES (2, N'Kullanıcı')
SET IDENTITY_INSERT [dbo].[Yetki] OFF
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Yetki] FOREIGN KEY([Yetki])
REFERENCES [dbo].[Yetki] ([Id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Yetki]
GO
ALTER TABLE [dbo].[Legal]  WITH CHECK ADD  CONSTRAINT [FK_Legal_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Legal] CHECK CONSTRAINT [FK_Legal_Kullanici]
GO
ALTER TABLE [dbo].[Markets]  WITH CHECK ADD  CONSTRAINT [FK_Markets_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Markets] CHECK CONSTRAINT [FK_Markets_Kullanici]
GO
ALTER TABLE [dbo].[PR&Team]  WITH CHECK ADD  CONSTRAINT [FK_PR&Team_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[PR&Team] CHECK CONSTRAINT [FK_PR&Team_Kullanici]
GO
ALTER TABLE [dbo].[Specials]  WITH CHECK ADD  CONSTRAINT [FK_Specials_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Specials] CHECK CONSTRAINT [FK_Specials_Kullanici]
GO
ALTER TABLE [dbo].[Web3]  WITH CHECK ADD  CONSTRAINT [FK_Web3_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanici] ([Id])
GO
ALTER TABLE [dbo].[Web3] CHECK CONSTRAINT [FK_Web3_Kullanici]
GO
