@model List<TablolarViewModel>


<div id="yaklasanlarList">
    <div class="row justify-content-center" style="padding-top:10px;">
        @foreach (var item in Model)
        {
            <div class="p-1 mb-1 col-md-3 text-white border" style="text-align:center; background-color:black; border-color:red!important;">

                @{
                    <i class="bi bi-alarm" style="position: relative; top: -3px; color: red; font-size: 25px;"></i>
                    <span class="ykcountdown" style="color:red; font-size:30px;" data-seconds="@item.TimeDifferenceInSeconds"></span>
                    <br />

                    <a href="/Specials/SpecialsEdit?pId=@item.Id" class="text-white fw-bold" style="text-decoration: none;">@(item.Sol ?? item.Sag ?? item.Orta)</a>
                    <br />

                    @item.Sonuc
                }

            </div>
        }
    </div>
</div>